In [1]:
from tensorflow.keras.models import load_model
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import numpy as np
import pandas as pd

In [64]:
# model = load_model('./model/model-cnn-lstm.h5')
model = load_model('./model/model-cnn-lstm.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [65]:
df = pd.read_csv('./dataset/socialab-clean.csv')

In [66]:
df

,_id,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url,image_url,location,in_reply_to_screen_name,__v,processed
0,663fa40a8a91151dd2f9db0d,Fri Nov 10 23:58:50 +0000 2023,1723128111926243840,@m_nurfatoni Anies seperti Ahmad Dahlan jamam now,0,1,0,0,in,354645457,1723112921604177920,meditegal,https://twitter.com/meditegal/status/172312811...,NaN,NaN,NaN,NaN,"['nurfatoni', 'anies', 'ahmad', 'dahlan', 'jam..."
1,663fa40a8a91151dd2f9db0e,Fri Nov 10 23:58:28 +0000 2023,1723128018716237824,@ardibhironx Itu ide AHOK dan udah dijalankan....,0,4,0,0,in,1579535471298113536,1690598033782968320,AnonimousNama,https://twitter.com/AnonimousNama/status/17231...,NaN,NaN,NaN,NaN,"['ide', 'ahok', 'dijalankan', 'anies', 'ganti'..."
2,663fa40a8a91151dd2f9db0f,Fri Nov 10 23:58:25 +0000 2023,1723128004816293888,@bagaskara645y @logikapolitikid Anies sama Pra...,0,1,0,0,in,1445442689386700800,1722963887266402816,RivaldiFaza,https://twitter.com/RivaldiFaza/status/1723128...,NaN,NaN,NaN,NaN,"['anies', 'prabowo', 'anies', 'kalah', 'prabow..."
3,663fa40a8a91151dd2f9db10,Fri Nov 10 23:58:10 +0000 2023,1723127944212881664,pernyataan di depan para pendukungnya. Semoga ...,0,0,0,0,in,1678743354249740288,1723127944212881664,eva_aruna,https://twitter.com/eva_aruna/status/172312794...,NaN,NaN,NaN,NaN,"['pernyataan', 'pendukungnya', 'semoga', 'hasi..."
4,663fa40a8a91151dd2f9db11,Fri Nov 10 23:57:44 +0000 2023,1723127835404251648,@BangPino__ Pemilih Anies militan tak tergiur ...,0,3,2,15,in,354645457,1723126003730698240,meditegal,https://twitter.com/meditegal/status/172312783...,NaN,NaN,NaN,NaN,"['pemilih', 'anies', 'militan', 'tergiur', 'ua..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28966,66554241ae55b835044c62cc,Tue May 28 00:43:28 +0000 2024,NaN,#Cek Bisa COD BELI 1 DAPAT 2 #Dreamy #Sweet #M...,0,0,0,0,in,344601410,1795254527391867101,dosopriyanto,https://x.com/dosopriyanto/status/179525452739...,NaN,NaN,NaN,0.0,"['cod', 'beli', 'euphoria', 'wonderland', 'for..."
28967,66554241ae55b835044c62cd,Tue May 28 00:36:19 +0000 2024,NaN,ลองดู [COD] Flash Sale 1กิโล แมคคายกกระสอบ ตุ๊...,0,0,0,0,th,1515152524059508740,1795252727544775164,Floraa72270993,https://x.com/Floraa72270993/status/1795252727...,NaN,NaN,NaN,0.0,"['cod', 'flash', 'sale', 'shopee']"
28968,66554241ae55b835044c62d1,Tue May 28 00:11:23 +0000 2024,NaN,wal cod an shopee kawa pakai qris lah yuu,0,8,0,1,in,981988393,1795246452761113026,banjarbase,https://x.com/banjarbase/status/17952464527611...,NaN,"Kalimantan Selatan, Indonesia",NaN,0.0,"['wal', 'cod', 'an', 'shopee', 'kawa', 'pakai'..."
28969,66554241ae55b835044c62d0,Tue May 28 00:11:26 +0000 2024,NaN,Temukan [BS] BISA COD Light Stick TREASURE BLU...,0,0,0,0,in,1765431656683569153,1795246468535923042,RacunShopee35,https://x.com/RacunShopee35/status/17952464685...,NaN,NaN,NaN,0.0,"['temukan', 'cod', 'light', 'stick', 'treasure..."
28970,66554241ae55b835044c62d5,Mon May 27 23:30:38 +0000 2024,NaN,wts / want to sell INA lfb Postcard chill kill...,0,0,0,0,en,906073350912360448,1795236200359579906,kangsitwar,https://x.com/kangsitwar/status/17952362003595...,NaN,NaN,NaN,0.0,"['wts', 'want', 'sell', 'ina', 'lfb', 'postcar..."

In [67]:
# join list of token as single document string
import ast

def join_text_list(texts):
    texts = ast.literal_eval(texts)
    return ' '.join([text for text in texts])
df["processed"] = df["processed"].apply(join_text_list)

df["processed"]

0                   nurfatoni anies ahmad dahlan jaman now
1                ide ahok dijalankan anies ganti nama-nama
2        anies prabowo anies kalah prabowo prabowo kala...
3        pernyataan pendukungnya semoga hasil survei mo...
4        pemilih anies militan tergiur uang bansos jabatan
                               ...
28966    cod beli euphoria wonderland foret fairy harga...
28967                                cod flash sale shopee
28968                wal cod an shopee kawa pakai qris yuk
28969    temukan cod light stick treasure bluetooth con...
28970    wts want sell ina lfb postcard chill kill bag ...
Name: processed, Length: 28971, dtype: object

In [68]:
# get tokenizer pickle
import pickle

with open('./tokenizer-2classes-no-stemming-new.pickle', 'rb') as handle:
    tokenizer = pickle.load(handle)

In [72]:
# # Parameters
# 
vocab_size = 30000
max_length = 100
embedding_dim = 8
trunc_type='post'
oov_tok = "<OOV>"

In [73]:
sequences = tokenizer.texts_to_sequences(df['processed'])
padded_sequences = pad_sequences(sequences, maxlen=max_length, truncating=trunc_type)

In [74]:
padded_sequences.shape

(28971, 100)

In [75]:
padded_sequences[13722]

array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,  1614, 10286,   769,  1945,     1,  3294,  1439,
           1])

In [76]:
# hitung kosakata dari tokenizer
word_index = tokenizer.word_index
vocab_size = len(word_index)
vocab_size

23120

In [77]:
# hitung kosakata yang ada di padded sequences
unique, counts = np.unique(padded_sequences, return_counts=True)

# hitung jumlah kata yang tidak ada di tokenizer
print('Total kata yang tidak ada di tokenizer:', len(unique) - vocab_size)

Total kata yang tidak ada di tokenizer: -12247

In [80]:
# hitung oov token yang ada di padded sequences
oov_count = 0
for sequence in padded_sequences:
    for token in sequence:
        if token == 1:
            oov_count += 1
print(oov_count)

# hitung yang tidak oov di padded sequences
non_oov_count = 0
for sequence in padded_sequences:
    for token in sequence:
        if token != 1:
            non_oov_count += 1
print(non_oov_count)

112636
2784464

In [81]:
predictions = model.predict(padded_sequences)

906/906 ━━━━━━━━━━━━━━━━━━━━ 18s 20ms/step

In [152]:
# Menginterpretasikan hasil prediksi
# Misalnya, mengasumsikan kelas 0 sebagai "Netral", kelas 1 sebagai "Negatif", dan kelas 2 sebagai "Positif"
# predicted_labels = []
# predicted_probabilities = []  # Menyimpan probabilitas prediksi untuk semua kelas

# for pred in predictions:
#     # Menentukan kelas berdasarkan nilai probabilitas tertinggi
#     label_index = np.argmax(pred)
#     if label_index == 0:
#         predicted_labels.append("Netral")
#     elif label_index == 1:
#         predicted_labels.append("Negatif")
#     else:
#         predicted_labels.append("Positif")
    
#     # Menyimpan probabilitas prediksi untuk semua kelas
#     predicted_probabilities.append(pred)  # Menyimpan array probabilitas dari softmax

# # Menambahkan hasil prediksi dan probabilitas prediksi ke dalam data asli
# df['predicted_label'] = predicted_labels
# df['predicted_probability_netral'] = [prob[0] for prob in predicted_probabilities]
# df['predicted_probability_negatif'] = [prob[1] for prob in predicted_probabilities]
# df['predicted_probability_positif'] = [prob[2] for prob in predicted_probabilities]

# # Menyimpan data dengan hasil prediksi dan probabilitas prediksi ke dalam file CSV baru
# df.to_csv('klasifikasi_baru_model_with_softmax_no_stemming.csv', index=False)

In [82]:
predicted_labels = []
predicted_prob = []

for pred in predictions:
    if pred > 0.5:
        predicted_labels.append("Positif")
        predicted_prob.append(pred)
    else:
        predicted_labels.append("Negatif")
        predicted_prob.append(1 - pred)

df['predicted_label'] = predicted_labels
df['predicted_probability'] = predicted_prob

In [83]:
df

,_id,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url,image_url,location,in_reply_to_screen_name,__v,processed,predicted_label,predicted_probability
0,663fa40a8a91151dd2f9db0d,Fri Nov 10 23:58:50 +0000 2023,1723128111926243840,@m_nurfatoni Anies seperti Ahmad Dahlan jamam now,0,1,0,0,in,354645457,1723112921604177920,meditegal,https://twitter.com/meditegal/status/172312811...,NaN,NaN,NaN,NaN,nurfatoni anies ahmad dahlan jaman now,Positif,[0.7320802]
1,663fa40a8a91151dd2f9db0e,Fri Nov 10 23:58:28 +0000 2023,1723128018716237824,@ardibhironx Itu ide AHOK dan udah dijalankan....,0,4,0,0,in,1579535471298113536,1690598033782968320,AnonimousNama,https://twitter.com/AnonimousNama/status/17231...,NaN,NaN,NaN,NaN,ide ahok dijalankan anies ganti nama-nama,Negatif,[0.6834444]
2,663fa40a8a91151dd2f9db0f,Fri Nov 10 23:58:25 +0000 2023,1723128004816293888,@bagaskara645y @logikapolitikid Anies sama Pra...,0,1,0,0,in,1445442689386700800,1722963887266402816,RivaldiFaza,https://twitter.com/RivaldiFaza/status/1723128...,NaN,NaN,NaN,NaN,anies prabowo anies kalah prabowo prabowo kala...,Negatif,[0.906856]
3,663fa40a8a91151dd2f9db10,Fri Nov 10 23:58:10 +0000 2023,1723127944212881664,pernyataan di depan para pendukungnya. Semoga ...,0,0,0,0,in,1678743354249740288,1723127944212881664,eva_aruna,https://twitter.com/eva_aruna/status/172312794...,NaN,NaN,NaN,NaN,pernyataan pendukungnya semoga hasil survei mo...,Positif,[0.9677173]
4,663fa40a8a91151dd2f9db11,Fri Nov 10 23:57:44 +0000 2023,1723127835404251648,@BangPino__ Pemilih Anies militan tak tergiur ...,0,3,2,15,in,354645457,1723126003730698240,meditegal,https://twitter.com/meditegal/status/172312783...,NaN,NaN,NaN,NaN,pemilih anies militan tergiur uang bansos jabatan,Negatif,[0.6671909]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28966,66554241ae55b835044c62cc,Tue May 28 00:43:28 +0000 2024,NaN,#Cek Bisa COD BELI 1 DAPAT 2 #Dreamy #Sweet #M...,0,0,0,0,in,344601410,1795254527391867101,dosopriyanto,https://x.com/dosopriyanto/status/179525452739...,NaN,NaN,NaN,0.0,cod beli euphoria wonderland foret fairy harga...,Negatif,[0.56305563]
28967,66554241ae55b835044c62cd,Tue May 28 00:36:19 +0000 2024,NaN,ลองดู [COD] Flash Sale 1กิโล แมคคายกกระสอบ ตุ๊...,0,0,0,0,th,1515152524059508740,1795252727544775164,Floraa72270993,https://x.com/Floraa72270993/status/1795252727...,NaN,NaN,NaN,0.0,cod flash sale shopee,Negatif,[0.71811783]
28968,66554241ae55b835044c62d1,Tue May 28 00:11:23 +0000 2024,NaN,wal cod an shopee kawa pakai qris lah yuu,0,8,0,1,in,981988393,1795246452761113026,banjarbase,https://x.com/banjarbase/status/17952464527611...,NaN,"Kalimantan Selatan, Indonesia",NaN,0.0,wal cod an shopee kawa pakai qris yuk,Positif,[0.5115072]
28969,66554241ae55b835044c62d0,Tue May 28 00:11:26 +0000 2024,NaN,Temukan [BS] BISA COD Light Stick TREASURE BLU...,0,0,0,0,in,1765431656683569153,1795246468535923042,RacunShopee35,https://x.com/RacunShopee35/status/17952464685...,NaN,NaN,NaN,0.0,temukan cod light stick treasure bluetooth con...,Positif,[0.72179747]
28970,66554241ae55b835044c62d5,Mon May 27 23:30:38 +0000 2024,NaN,wts / want to sell INA lfb Postcard chill kill...,0,0,0,0,en,906073350912360448,1795236200359579906,kangsitwar,https://x.com/kangsitwar/status/17952362003595...,NaN,NaN,NaN,0.0,wts want sell ina lfb postcard chill kill bag ...,Positif,[0.975487]

In [18]:
#get total number per class
df['predicted_label'].value_counts()

predicted_label
Negatif    21317
Positif     7654
Name: count, dtype: int64

In [84]:
#get total number per class
df['predicted_label'].value_counts()

predicted_label
Negatif    16233
Positif    12738
Name: count, dtype: int64

In [35]:
pd.set_option('display.max_colwidth', None)

In [86]:
df.to_csv('./hasil-klasifikasi/socialab-full-cnn-lstm.csv', index=False)

In [85]:
def predict_sentiment(model, tokenizer, text):
    # Tokenisasi teks
    sample_seq = tokenizer.texts_to_sequences([text])
    sample_padded = pad_sequences(sample_seq, maxlen=max_length, truncating=trunc_type)
    
    # Prediksi sentimen menggunakan model
    prediction = model.predict(sample_padded)
    
    # Mendapatkan persentase sentimen
    probability = prediction[0][0]
    if probability >= 0.5:
        sentiment_label = "Positif"
        percentage = probability * 100
    else:
        sentiment_label = "Negatif"
        percentage = (1 - probability) * 100
    
    return sentiment_label, percentage

# Menggunakan fungsi untuk memprediksi sentimen dari contoh kalimat
sample_text = "@ohmybeautybank emang terlalu thick nder moist cosrx tapi soal ngelembabin sama bikin glowing dia mantep. coba pakai moist nya dabe beaute deh itu ringan banget gak bikin kusem tapi tetep ngelembabin di akuu"

predicted_label, sentiment_percentage = predict_sentiment(model, tokenizer, sample_text)
print(f"Label Sentimen: {predicted_label}")
print(f"Persentase Sentimen: {sentiment_percentage:.2f}%")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 136ms/step
Label Sentimen: Positif
Persentase Sentimen: 91.87%

In [50]:
# lexicon
# read lexicon pos in tsv file
lexicon_pos = pd.read_csv('./utils/lexicon-positive.tsv', sep='\t')
lexicon_neg = pd.read_csv('./utils/lexicon-negative.tsv', sep='\t')

In [51]:
lexicon_pos

           word  weight
0           hai       3
1       merekam       2
2     ekstensif       3
3     paripurna       1
4        detail       2
...         ...     ...
3604  melarikan       3
3605    vakansi       3
3606    spesial       4
3607     asrama       3
3608   orisinal       3

[3609 rows x 2 columns]

In [52]:
df_clean = pd.read_csv('./dataset/socialab-clean.csv')

df_clean

,_id,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url,image_url,location,in_reply_to_screen_name,__v,processed
0,663fa40a8a91151dd2f9db0d,Fri Nov 10 23:58:50 +0000 2023,1723128111926243840,@m_nurfatoni Anies seperti Ahmad Dahlan jamam now,0,1,0,0,in,354645457,1723112921604177920,meditegal,https://twitter.com/meditegal/status/172312811...,NaN,NaN,NaN,NaN,"['nurfatoni', 'anies', 'ahmad', 'dahlan', 'jam..."
1,663fa40a8a91151dd2f9db0e,Fri Nov 10 23:58:28 +0000 2023,1723128018716237824,@ardibhironx Itu ide AHOK dan udah dijalankan....,0,4,0,0,in,1579535471298113536,1690598033782968320,AnonimousNama,https://twitter.com/AnonimousNama/status/17231...,NaN,NaN,NaN,NaN,"['ide', 'ahok', 'dijalankan', 'anies', 'ganti'..."
2,663fa40a8a91151dd2f9db0f,Fri Nov 10 23:58:25 +0000 2023,1723128004816293888,@bagaskara645y @logikapolitikid Anies sama Pra...,0,1,0,0,in,1445442689386700800,1722963887266402816,RivaldiFaza,https://twitter.com/RivaldiFaza/status/1723128...,NaN,NaN,NaN,NaN,"['anies', 'prabowo', 'anies', 'kalah', 'prabow..."
3,663fa40a8a91151dd2f9db10,Fri Nov 10 23:58:10 +0000 2023,1723127944212881664,pernyataan di depan para pendukungnya. Semoga ...,0,0,0,0,in,1678743354249740288,1723127944212881664,eva_aruna,https://twitter.com/eva_aruna/status/172312794...,NaN,NaN,NaN,NaN,"['pernyataan', 'pendukungnya', 'semoga', 'hasi..."
4,663fa40a8a91151dd2f9db11,Fri Nov 10 23:57:44 +0000 2023,1723127835404251648,@BangPino__ Pemilih Anies militan tak tergiur ...,0,3,2,15,in,354645457,1723126003730698240,meditegal,https://twitter.com/meditegal/status/172312783...,NaN,NaN,NaN,NaN,"['pemilih', 'anies', 'militan', 'tergiur', 'ua..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28966,66554241ae55b835044c62cc,Tue May 28 00:43:28 +0000 2024,NaN,#Cek Bisa COD BELI 1 DAPAT 2 #Dreamy #Sweet #M...,0,0,0,0,in,344601410,1795254527391867101,dosopriyanto,https://x.com/dosopriyanto/status/179525452739...,NaN,NaN,NaN,0.0,"['cod', 'beli', 'euphoria', 'wonderland', 'for..."
28967,66554241ae55b835044c62cd,Tue May 28 00:36:19 +0000 2024,NaN,ลองดู [COD] Flash Sale 1กิโล แมคคายกกระสอบ ตุ๊...,0,0,0,0,th,1515152524059508740,1795252727544775164,Floraa72270993,https://x.com/Floraa72270993/status/1795252727...,NaN,NaN,NaN,0.0,"['cod', 'flash', 'sale', 'shopee']"
28968,66554241ae55b835044c62d1,Tue May 28 00:11:23 +0000 2024,NaN,wal cod an shopee kawa pakai qris lah yuu,0,8,0,1,in,981988393,1795246452761113026,banjarbase,https://x.com/banjarbase/status/17952464527611...,NaN,"Kalimantan Selatan, Indonesia",NaN,0.0,"['wal', 'cod', 'an', 'shopee', 'kawa', 'pakai'..."
28969,66554241ae55b835044c62d0,Tue May 28 00:11:26 +0000 2024,NaN,Temukan [BS] BISA COD Light Stick TREASURE BLU...,0,0,0,0,in,1765431656683569153,1795246468535923042,RacunShopee35,https://x.com/RacunShopee35/status/17952464685...,NaN,NaN,NaN,0.0,"['temukan', 'cod', 'light', 'stick', 'treasure..."
28970,66554241ae55b835044c62d5,Mon May 27 23:30:38 +0000 2024,NaN,wts / want to sell INA lfb Postcard chill kill...,0,0,0,0,en,906073350912360448,1795236200359579906,kangsitwar,https://x.com/kangsitwar/status/17952362003595...,NaN,NaN,NaN,0.0,"['wts', 'want', 'sell', 'ina', 'lfb', 'postcar..."

In [58]:
# pembobotan kalimat berdasarkan lexicon lalu klasifikasi jadi 2 kelas
def lexicon_based_sentiment_analysis(df, lexicon_pos, lexicon_neg):
    # Menghitung jumlah kata positif dan negatif dalam setiap kalimat
    df['positive_words'] = df['processed'].apply(lambda x: len([word for word in x.split() if word in lexicon_pos['word'].values]))
    df['negative_words'] = df['processed'].apply(lambda x: len([word for word in x.split() if word in lexicon_neg['word'].values]))
    
    # Menentukan sentimen berdasarkan jumlah kata positif dan negatif
    df['predicted_label'] = df.apply(lambda x: "Positif" if x['positive_words'] > x['negative_words'] else "Negatif", axis=1)

    return df

df_clean = lexicon_based_sentiment_analysis(df_clean, lexicon_pos, lexicon_neg)

In [59]:
df_clean

,_id,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,...,image_url,location,in_reply_to_screen_name,__v,processed,positive,negative,positive_words,negative_words,predicted_label
0,663fa40a8a91151dd2f9db0d,Fri Nov 10 23:58:50 +0000 2023,1723128111926243840,@m_nurfatoni Anies seperti Ahmad Dahlan jamam now,0,1,0,0,in,354645457,...,NaN,NaN,NaN,NaN,nurfatoni anies ahmad dahlan jaman now,0,0,0,1,Negatif
1,663fa40a8a91151dd2f9db0e,Fri Nov 10 23:58:28 +0000 2023,1723128018716237824,@ardibhironx Itu ide AHOK dan udah dijalankan....,0,4,0,0,in,1579535471298113536,...,NaN,NaN,NaN,NaN,ide ahok dijalankan anies ganti nama-nama,0,0,1,1,Negatif
2,663fa40a8a91151dd2f9db0f,Fri Nov 10 23:58:25 +0000 2023,1723128004816293888,@bagaskara645y @logikapolitikid Anies sama Pra...,0,1,0,0,in,1445442689386700800,...,NaN,NaN,NaN,NaN,anies prabowo anies kalah prabowo prabowo kala...,0,0,0,4,Negatif
3,663fa40a8a91151dd2f9db10,Fri Nov 10 23:58:10 +0000 2023,1723127944212881664,pernyataan di depan para pendukungnya. Semoga ...,0,0,0,0,in,1678743354249740288,...,NaN,NaN,NaN,NaN,pernyataan pendukungnya semoga hasil survei mo...,0,0,4,2,Positif
4,663fa40a8a91151dd2f9db11,Fri Nov 10 23:57:44 +0000 2023,1723127835404251648,@BangPino__ Pemilih Anies militan tak tergiur ...,0,3,2,15,in,354645457,...,NaN,NaN,NaN,NaN,pemilih anies militan tergiur uang bansos jabatan,0,0,0,0,Negatif
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28966,66554241ae55b835044c62cc,Tue May 28 00:43:28 +0000 2024,NaN,#Cek Bisa COD BELI 1 DAPAT 2 #Dreamy #Sweet #M...,0,0,0,0,in,344601410,...,NaN,NaN,NaN,0.0,cod beli euphoria wonderland foret fairy harga...,0,0,3,1,Positif
28967,66554241ae55b835044c62cd,Tue May 28 00:36:19 +0000 2024,NaN,ลองดู [COD] Flash Sale 1กิโล แมคคายกกระสอบ ตุ๊...,0,0,0,0,th,1515152524059508740,...,NaN,NaN,NaN,0.0,cod flash sale shopee,0,0,0,0,Negatif
28968,66554241ae55b835044c62d1,Tue May 28 00:11:23 +0000 2024,NaN,wal cod an shopee kawa pakai qris lah yuu,0,8,0,1,in,981988393,...,NaN,"Kalimantan Selatan, Indonesia",NaN,0.0,wal cod an shopee kawa pakai qris yuk,0,0,1,0,Positif
28969,66554241ae55b835044c62d0,Tue May 28 00:11:26 +0000 2024,NaN,Temukan [BS] BISA COD Light Stick TREASURE BLU...,0,0,0,0,in,1765431656683569153,...,NaN,NaN,NaN,0.0,temukan cod light stick treasure bluetooth con...,0,0,2,0,Positif
28970,66554241ae55b835044c62d5,Mon May 27 23:30:38 +0000 2024,NaN,wts / want to sell INA lfb Postcard chill kill...,0,0,0,0,en,906073350912360448,...,NaN,NaN,NaN,0.0,wts want sell ina lfb postcard chill kill bag ...,0,0,2,0,Positif

In [60]:
# htiung label tiap kelas
df_clean['predicted_label'].value_counts()

predicted_label
Negatif    20008
Positif     8963
Name: count, dtype: int64